/* carousel comp */
.carouselContainer {
    display: flex;
    align-items: center;
}

.arrow {
    margin: 5px;
    height: 20px;
    cursor: pointer;
}
.arrow:active {
    background-color: rgb(214, 236, 255)
}

.flag {
    height: 20px;
    margin: 5px;
}
.stakeholderName {
    margin: 5px;
    cursor: pointer;
}
.index {
    margin: 5px;
    color: gray;
}
.stakeholderName:hover {
    color: blue;
    text-decoration: underline;
}

/* chekclist comp */

.checklistContainer {
    display: flex;
    position: absolute;
    background-color: white;
    flex-direction: column;
    top: 54px; 
    left: 35%;
    width: 400px;
    z-index: 100;
    max-height: 200px;
    overflow-y: scroll;
    scrollbar-width: none;
    border: 0.5px solid rgb(225, 225, 225);
    border-radius: 3%;
}

.row {
    flex-direction: row;
    border-radius: 2%;
    border-bottom: 0.5px solid rgb(225, 225, 225);
    align-items: center;
    min-height: 50px;
    display: flex;
    width: 100%;
}

.row:hover {
    background-color: rgb(238, 239, 251);
}
.row:active {
    background-color: rgb(189, 189, 189);
}
.taxLabel {
    font-size: large;
    font-weight: 500;
}
.grantLabel {
    font-size:medium;
    font-weight: 300;
}